
p{
  text-align: center;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#selo{
  color:#f34739;
  text-align:center;
  font-size: 40px;
}
.texto{
  color:#d90f5a;
  text-align: center;
  font-size: 45px;
}

h1{
  text-align: center;
  font-size: 30px;
  font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(to bottom, #ff6666, #6666ff);
    text-align: center;
  
}


h2{ 
  text-align: center;
  font-size: 30px;
  font-family: Arial, sans-serif;
}

a{
  color: blue;
  font-size: 15px;
  text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}
