p{
  
  text-align: center;
  font-size: 35px;
}

h1{
  
  text-align: center;
  font-size: 55px;
}
#selo{
 
  text-align:center;
  font-size: 38px;
}
.texto{
  
  text-align: center;
  font-size: 45px;
}
body{
  background-color:
}
.texto2{
  
  text-align: center;
  font-size: 38px;
}

h2{ 
  text-align: center;
  font-size: 40px;
}
