p{
  color:
  text-align: center;
  font-size: 35px;
}

h1{
  color:
  text-align: center;
  font-size: 55px;
}
#selo{
  color:
  text-align:center;
  font-size: 38px;
}
.texto{
  color:
  text-align: center;
  font-size: 45px;
}
body{
  background-color:
}
.texto2{
  color:
  text-align: center;
  font-size: 38px;
}

h2{ 
   color:
  text-align: center;
  font-size: 40px;
}
